n8n/workflows/adapter_telegram_send.json
{
  "name": "adapter_telegram_send",
  "nodes": [
    {
      "id": "tg-exec-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1100,
        120
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "tg-webhook-trigger",
      "name": "Adapter Telegram Smoke Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1100,
        340
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "autoposting-adapter-telegram-test",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      }
    },
    {
      "id": "tg-normalize-input",
      "name": "Normalize Adapter Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        230
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const src = $input.first()?.json?.body ?? $input.first()?.json ?? {};\nconst delivery = src.delivery ?? {};\nconst channel = src.channel ?? {};\nconst payload = delivery.payload ?? {};\nconst media = Array.isArray(payload.media) ? payload.media : [];\n\nconst renderedText =\n  delivery.rendered_text ??\n  src.rendered_text ??\n  payload.text ??\n  '';\n\nconst deliveryIdRaw = delivery.delivery_id ?? src.delivery_id ?? null;\nconst deliveryId =\n  deliveryIdRaw === null || deliveryIdRaw === undefined\n    ? null\n    : String(deliveryIdRaw);\n\nconst appendDeliveryId = Boolean(\n  channel.append_delivery_id ??\n    delivery.meta?.append_delivery_id ??\n    src.append_delivery_id ??\n    false,\n);\n\nconst renderedTextEffective =\n  appendDeliveryId && deliveryId\n    ? `${renderedText}\\n\\n[d:${deliveryId}]`\n    : renderedText;\n\nconst parseModeRaw = String(\n  delivery.meta?.parse_mode ?? src.meta?.parse_mode ?? 'None',\n);\nlet telegramParseMode = null;\nif (parseModeRaw === 'HTML' || parseModeRaw === 'Markdown' || parseModeRaw === 'MarkdownV2') {\n  telegramParseMode = parseModeRaw;\n}\n\nreturn [{\n  json: {\n    workspace_id: src.workspace_id ?? null,\n    delivery,\n    channel,\n    delivery_id: deliveryId,\n    append_delivery_id: appendDeliveryId,\n    target_id: channel.target_id ?? delivery.target_id ?? src.target_id ?? null,\n    rendered_text: renderedText,\n    rendered_text_effective: renderedTextEffective,\n    media,\n    telegram_parse_mode: telegramParseMode,\n  },\n}];"
      }
    },
    {
      "id": "tg-if-has-target",
      "name": "Has Target ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        230
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-has-target",
              "leftValue": "={{ !!$json.target_id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "tg-missing-target",
      "name": "Return Missing Target Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        380
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first()?.json ?? {};\nreturn [{\n  json: {\n    ok: false,\n    error: {\n      category: 'PERMANENT',\n      scope: 'delivery',\n      code: 'missing_target_id',\n      message: 'channel.target_id is required for telegram adapter',\n      raw: input,\n    },\n  },\n}];"
      }
    },
    {
      "id": "tg-if-has-media",
      "name": "Has Media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -420,
        150
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-has-media",
              "leftValue": "={{ Array.isArray($json.media) && $json.media.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "tg-select-primary",
      "name": "Select Primary Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        40
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first()?.json ?? {};\n\nconst sourceMedia = Array.isArray(input.media) ? input.media : [];\n\nconst normalizeKind = (item) => {\n  const kindSource = String(item?.type ?? item?.kind ?? '').toLowerCase();\n  return kindSource.includes('video') || kindSource === 'gif' || kindSource === 'animation'\n    ? 'video'\n    : 'photo';\n};\n\nconst normalizedMedia = sourceMedia\n  .map((itemRaw, index) => {\n    const item = itemRaw && typeof itemRaw === 'object' ? itemRaw : null;\n    if (!item) return null;\n\n    return {\n      index,\n      blob_ref: item.blob_ref ?? null,\n      type: item.type ?? null,\n      kind: normalizeKind(item),\n      origin_url: item.origin_url ?? null,\n      url: item.url ?? null,\n      media_url: item.media_url ?? null,\n      file_id: item.file_id ?? null,\n      telegram_file: item.file_id ?? item.telegram_file ?? null,\n    };\n  })\n  .filter(Boolean);\n\nconst primary = normalizedMedia.length > 0 ? normalizedMedia[0] : null;\n\nreturn [{\n  json: {\n    ...input,\n    normalized_media: normalizedMedia,\n    primary_media: primary,\n    has_multiple_media: normalizedMedia.length > 1,\n  },\n}];"
      }
    },
    {
      "id": "tg-if-has-blob",
      "name": "Primary Has Blob Ref?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        20,
        40
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-has-primary-blob",
              "leftValue": "={{ !!$json.workspace_id && !!$json.primary_media && !!$json.primary_media.blob_ref }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "tg-db-resolve-primary-cache",
      "name": "DB Resolve Primary Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        -80
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  mo.origin_url,\n  mb.file_id\nFROM (SELECT $1::uuid AS workspace_id, $2::text AS blob_ref) req\nLEFT JOIN public.media_origin mo\n  ON mo.workspace_id = req.workspace_id\n AND mo.blob_ref = req.blob_ref\nLEFT JOIN public.media_blobs mb\n  ON mb.workspace_id = req.workspace_id\n AND mb.blob_ref = req.blob_ref\n AND mb.provider = 'telegram'\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{$json.workspace_id}}, {{$json.primary_media.blob_ref}}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "x5LyxEPUED2WoWLF",
          "name": "Neon Autoposting DB"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tg-apply-primary-cache",
      "name": "Apply Primary Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        -80
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const base = $items('Select Primary Media')[0]?.json ?? {};\nconst cache = $input.first()?.json ?? {};\n\nconst resolvedPrimaryFile =\n  cache.file_id ??\n  base.primary_media?.telegram_file ??\n  cache.origin_url ??\n  base.primary_media?.origin_url ??\n  base.primary_media?.url ??\n  base.primary_media?.media_url ??\n  null;\n\nconst primary = base.primary_media\n  ? {\n      ...base.primary_media,\n      telegram_file: resolvedPrimaryFile,\n    }\n  : null;\n\nconst normalizedMedia = Array.isArray(base.normalized_media)\n  ? base.normalized_media.map((item, index) => {\n      if (index !== 0 || !item || typeof item !== 'object') return item;\n      return {\n        ...item,\n        telegram_file: resolvedPrimaryFile,\n      };\n    })\n  : [];\n\nreturn [{\n  json: {\n    ...base,\n    primary_media: primary,\n    normalized_media: normalizedMedia,\n  },\n}];"
      }
    },
    {
      "id": "tg-primary-no-cache",
      "name": "Primary Without Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        160
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const base = $input.first()?.json ?? {};\n\nconst resolvedPrimaryFile =\n  base.primary_media?.telegram_file ??\n  base.primary_media?.origin_url ??\n  base.primary_media?.url ??\n  base.primary_media?.media_url ??\n  null;\n\nconst primary = base.primary_media\n  ? {\n      ...base.primary_media,\n      telegram_file: resolvedPrimaryFile,\n    }\n  : null;\n\nconst normalizedMedia = Array.isArray(base.normalized_media)\n  ? base.normalized_media.map((item, index) => {\n      if (index !== 0 || !item || typeof item !== 'object') return item;\n      return {\n        ...item,\n        telegram_file: resolvedPrimaryFile,\n      };\n    })\n  : [];\n\nreturn [{\n  json: {\n    ...base,\n    primary_media: primary,\n    normalized_media: normalizedMedia,\n  },\n}];"
      }
    },
    {
      "id": "tg-if-video",
      "name": "Is Video Media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        40
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-is-video",
              "leftValue": "={{ !!$json.primary_media && ['video', 'gif', 'animation'].includes(String($json.primary_media.kind || '').toLowerCase()) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "tg-send-text",
      "name": "Telegram Send Text",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -200,
        260
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": {
          "__rl": true,
          "value": "={{$json.target_id}}",
          "mode": "expression"
        },
        "text": "={{$json.rendered_text_effective ?? $json.rendered_text}}",
        "additionalFields": {
          "parse_mode": "={{$json.telegram_parse_mode || undefined}}",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "tjUozZ8hx8ajiIul",
          "name": "AutoPostAssistantBot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tg-send-photo",
      "name": "Telegram Send Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        140
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendPhoto",
        "chatId": {
          "__rl": true,
          "value": "={{$json.target_id}}",
          "mode": "expression"
        },
        "binaryData": false,
        "file": "={{$json.primary_media.telegram_file}}",
        "additionalFields": {
          "caption": "={{$json.rendered_text_effective ?? $json.rendered_text}}",
          "parse_mode": "={{$json.telegram_parse_mode || undefined}}"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "tjUozZ8hx8ajiIul",
          "name": "AutoPostAssistantBot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tg-send-video",
      "name": "Telegram Send Video",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        -60
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendVideo",
        "chatId": {
          "__rl": true,
          "value": "={{$json.target_id}}",
          "mode": "expression"
        },
        "binaryData": false,
        "file": "={{$json.primary_media.telegram_file}}",
        "additionalFields": {
          "caption": "={{$json.rendered_text_effective ?? $json.rendered_text}}",
          "parse_mode": "={{$json.telegram_parse_mode || undefined}}"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "tjUozZ8hx8ajiIul",
          "name": "AutoPostAssistantBot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tg-normalize-result",
      "name": "Normalize Telegram Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        130
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rawInputItems = $input.all().map((item) => item?.json ?? {});\nconst raw = rawInputItems[0] ?? {};\n\nconst classifyError = (err) => {\n  const message = String(\n    typeof err === 'string'\n      ? err\n      : err?.message ?? err?.description ?? err?.error ?? 'telegram_send_failed',\n  );\n  const code = Number(\n    typeof err === 'object' && err\n      ? err.httpCode ?? err.statusCode ?? err.code ?? 0\n      : 0,\n  );\n\n  let category = 'PERMANENT';\n  let scope = 'delivery';\n  let normalizedCode = 'telegram_bad_request';\n\n  const channelUnavailablePattern =\n    /chat not found|bot was kicked|bot was blocked by the user|user is deactivated|group chat was deleted|chat_write_forbidden|have no rights to send a message|need administrator rights|bot can't initiate conversation/i;\n\n  if (code === 429 || /retry after/i.test(message)) {\n    category = 'TRANSIENT';\n    scope = 'platform';\n    normalizedCode = 'rate_limited';\n  } else if (\n    code >= 500 ||\n    /timed out|timeout|network|socket|econn|etimedout|fetch failed/i.test(message)\n  ) {\n    category = 'TRANSIENT';\n    scope = 'platform';\n    normalizedCode = 'upstream_unavailable';\n  } else if (/message is too long|text is too long|caption is too long/i.test(message)) {\n    category = 'PERMANENT';\n    scope = 'delivery';\n    normalizedCode = 'message_too_long';\n  } else if (code === 401 || channelUnavailablePattern.test(message)) {\n    category = 'PERMANENT';\n    scope = 'channel';\n    normalizedCode = 'channel_unavailable';\n  }\n\n  const retryMatch = message.match(/retry after\\s*(\\d+)/i);\n  const retryAfterMs = retryMatch ? Number(retryMatch[1]) * 1000 : null;\n\n  return {\n    category,\n    scope,\n    code: normalizedCode,\n    retry_after_ms: Number.isFinite(retryAfterMs) ? retryAfterMs : undefined,\n    message,\n    raw: err,\n  };\n};\n\nconst itemsOrEmpty = (nodeName) => {\n  try {\n    return $items(nodeName);\n  } catch {\n    return [];\n  }\n};\n\nconst context =\n  itemsOrEmpty('Build Media Group Payload')[0]?.json ??\n  itemsOrEmpty('Apply Media Group Cache')[0]?.json ??\n  itemsOrEmpty('Apply Primary Cache')[0]?.json ??\n  itemsOrEmpty('Primary Without Cache')[0]?.json ??\n  itemsOrEmpty('Select Primary Media')[0]?.json ??\n  itemsOrEmpty('Normalize Adapter Input')[0]?.json ??\n  {};\n\nif (raw?.ok === false && raw?.error) {\n  return [{ json: { result: raw, cache_updates: [], cache_updates_json: '[]' } }];\n}\n\nconst executionError = rawInputItems.find((item) => item?.error);\nif (executionError?.error) {\n  return [\n    {\n      json: {\n        result: {\n          ok: false,\n          error: classifyError(executionError.error),\n        },\n        cache_updates: [],\n        cache_updates_json: '[]',\n      },\n    },\n  ];\n}\n\nconst toResultItems = (value) => {\n  const envelope = value?.body?.result ?? value?.result ?? value;\n  if (Array.isArray(envelope)) {\n    return envelope.filter((item) => item && typeof item === 'object');\n  }\n  if (envelope && typeof envelope === 'object') {\n    return [envelope];\n  }\n  return [];\n};\n\nconst resultItems = rawInputItems.flatMap(toResultItems);\nconst firstResult = resultItems[0] ?? {};\n\nconst providerMessageId =\n  firstResult?.message_id ??\n  firstResult?.id ??\n  raw?.message_id ??\n  ('tg-' + Date.now());\n\nconst pickPhotoFileId = (value) => {\n  const photoArray = value?.photo ?? value?.message?.photo ?? [];\n  if (Array.isArray(photoArray) && photoArray.length > 0) {\n    const photo = photoArray[photoArray.length - 1];\n    return photo?.file_id ? String(photo.file_id) : null;\n  }\n  return null;\n};\n\nconst pickVideoFileId = (value) => {\n  const fileId = value?.video?.file_id ?? value?.message?.video?.file_id ?? null;\n  return fileId ? String(fileId) : null;\n};\n\nconst pickFileIdByKind = (value, expectedKind) => {\n  if (!value || typeof value !== 'object') return null;\n  if (expectedKind === 'video') {\n    return pickVideoFileId(value) ?? pickPhotoFileId(value);\n  }\n  return pickPhotoFileId(value) ?? pickVideoFileId(value);\n};\n\nconst workspaceId =\n  context?.workspace_id === null || context?.workspace_id === undefined\n    ? null\n    : String(context.workspace_id);\n\nconst normalizedMedia = Array.isArray(context?.normalized_media)\n  ? context.normalized_media\n  : [];\n\nconst cacheByBlobRef = {};\nfor (let index = 0; index < normalizedMedia.length; index += 1) {\n  const mediaItemRaw = normalizedMedia[index];\n  const mediaItem = mediaItemRaw && typeof mediaItemRaw === 'object' ? mediaItemRaw : null;\n  if (!mediaItem || !workspaceId) continue;\n\n  const blobRef =\n    mediaItem.blob_ref === null || mediaItem.blob_ref === undefined\n      ? ''\n      : String(mediaItem.blob_ref).trim();\n  if (!blobRef) continue;\n\n  const expectedKind = String(mediaItem.kind ?? mediaItem.type ?? '').toLowerCase().includes('video')\n    ? 'video'\n    : 'photo';\n\n  let fileId = pickFileIdByKind(resultItems[index] ?? null, expectedKind);\n  if (!fileId) {\n    for (const item of resultItems) {\n      fileId = pickFileIdByKind(item, expectedKind);\n      if (fileId) break;\n    }\n  }\n\n  if (!fileId) continue;\n\n  cacheByBlobRef[blobRef] = {\n    workspace_id: workspaceId,\n    blob_ref: blobRef,\n    file_id: fileId,\n  };\n}\n\nconst cacheUpdates = Object.values(cacheByBlobRef);\n\nreturn [\n  {\n    json: {\n      result: {\n        ok: true,\n        provider_message_id: String(providerMessageId),\n        delivery_id: context.delivery_id ?? null,\n        raw: rawInputItems.length === 1 ? rawInputItems[0] : rawInputItems,\n      },\n      cache_updates: cacheUpdates,\n      cache_updates_json: JSON.stringify(cacheUpdates),\n    },\n  },\n];"
      }
    },
    {
      "id": "tg-if-cache-upsert",
      "name": "Has Cache Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1340,
        130
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-has-cache",
              "leftValue": "={{ Array.isArray($json.cache_updates) && $json.cache_updates.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "tg-db-upsert-cache",
      "name": "DB Upsert Telegram Media Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1560,
        20
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH updates AS (\n  SELECT\n    NULLIF(entry.workspace_id, '')::uuid AS workspace_id,\n    NULLIF(entry.blob_ref, '') AS blob_ref,\n    NULLIF(entry.file_id, '') AS file_id\n  FROM jsonb_to_recordset(COALESCE(NULLIF($1::text, ''), '[]')::jsonb) AS entry(\n    workspace_id text,\n    blob_ref text,\n    file_id text\n  )\n),\nupserted AS (\n  INSERT INTO public.media_blobs (\n    workspace_id,\n    blob_ref,\n    provider,\n    file_id,\n    meta,\n    created_at,\n    updated_at\n  )\n  SELECT\n    u.workspace_id,\n    u.blob_ref,\n    'telegram',\n    u.file_id,\n    '{}'::jsonb,\n    now(),\n    now()\n  FROM updates u\n  WHERE u.workspace_id IS NOT NULL\n    AND u.blob_ref IS NOT NULL\n    AND u.file_id IS NOT NULL\n  ON CONFLICT (workspace_id, blob_ref, provider)\n  DO UPDATE SET\n    file_id = EXCLUDED.file_id,\n    updated_at = now()\n)\nSELECT COALESCE($2::jsonb, '{}'::jsonb) AS result_json;",
        "options": {
          "queryReplacement": "={{$json.cache_updates_json ?? \"[]\"}}, {{ JSON.stringify($json.result ?? {}) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "x5LyxEPUED2WoWLF",
          "name": "Neon Autoposting DB"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tg-finalize-output",
      "name": "Finalize Adapter Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        150
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first()?.json ?? {};\nif (input?.result_json) {\n  return [{ json: input.result_json }];\n}\nif (input?.result) {\n  return [{ json: input.result }];\n}\nif (input?.ok === true || input?.ok === false) {\n  return [{ json: input }];\n}\n\nreturn [{\n  json: {\n    ok: false,\n    error: {\n      category: 'TRANSIENT',\n      scope: 'platform',\n      code: 'adapter_output_unexpected',\n      message: 'adapter_telegram_send returned unexpected payload shape',\n      raw: input,\n    },\n  },\n}];"
      }
    },
    {
      "id": "tg-if-multiple-media",
      "name": "Has Multiple Media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        -144
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-has-multiple-media",
              "leftValue": "={{ Array.isArray($json.normalized_media) && $json.normalized_media.length > 1 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "tg-build-media-group",
      "name": "Build Media Group Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -304
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first()?.json ?? {};\nconst media = Array.isArray(input.normalized_media) ? input.normalized_media : [];\nconst parseMode = input.telegram_parse_mode ?? null;\nconst caption = String(input.rendered_text_effective ?? input.rendered_text ?? '');\n\nif (media.length < 2) {\n  return [{ json: { ...input, telegram_media_group_payload: { media: [] } } }];\n}\n\nconst groupItems = [];\n\nfor (let index = 0; index < media.length; index += 1) {\n  const item = media[index] ?? {};\n  if (!item || typeof item !== 'object') continue;\n\n  const mediaValue =\n    item.file_id ??\n    item.telegram_file ??\n    item.origin_url ??\n    item.url ??\n    item.media_url ??\n    null;\n\n  if (!mediaValue) {\n    return [\n      {\n        json: {\n          ok: false,\n          error: {\n            category: 'PERMANENT',\n            scope: 'delivery',\n            code: 'media_missing_origin',\n            message: `media[${index}] missing origin_url/url/media_url or cached file_id`,\n            raw: { index, item },\n          },\n        },\n      },\n    ];\n  }\n\n  const mediaType = String(item.kind ?? item.type ?? '').toLowerCase().includes('video')\n    ? 'video'\n    : 'photo';\n\n  const entry = {\n    type: mediaType,\n    media: String(mediaValue),\n  };\n\n  if (index === 0 && caption) {\n    entry.caption = caption;\n  }\n  if (index === 0 && parseMode) {\n    entry.parse_mode = parseMode;\n  }\n\n  groupItems.push(entry);\n}\n\nreturn [{\n  json: {\n    ...input,\n    telegram_media_group_payload: {\n      media: groupItems,\n    },\n  },\n}];"
      }
    },
    {
      "id": "tg-send-media-group",
      "name": "Telegram Send Media Group",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        -272
      ],
      "parameters": {
        "operation": "sendMediaGroup",
        "chatId": {
          "__rl": true,
          "value": "={{$json.target_id}}",
          "mode": "expression"
        },
        "media": "={{$json.telegram_media_group_payload}}",
        "additionalFields": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "tg-if-group-build-error",
      "name": "Media Group Build Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-group-build-error",
              "leftValue": "={{ $json.ok === false && !!$json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-primary-cache-row-available",
              "leftValue": "={{ !!$json.file_id || !!$json.origin_url }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg-if-primary-cache-row",
      "name": "Primary Cache Row Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        350,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\n\nconst media = Array.isArray(input.normalized_media) ? input.normalized_media : [];\nconst blobRefs = [...new Set(\n  media\n    .map((item) => {\n      const raw = item?.blob_ref;\n      if (raw === null || raw === undefined) return '';\n      return String(raw).trim();\n    })\n    .filter(Boolean),\n)];\n\nreturn [{\n  json: {\n    ...input,\n    media_group_blob_refs: blobRefs,\n    media_group_blob_refs_json: JSON.stringify(blobRefs),\n  },\n}];"
      },
      "id": "0e96a4be-a1db-4f4e-a2fb-f1d1f4d5f556",
      "name": "Prepare Media Group Cache Resolve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        -368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-has-media-group-blob-refs",
              "leftValue": "={{ !!$json.workspace_id && Array.isArray($json.media_group_blob_refs) && $json.media_group_blob_refs.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5f67be44-d77c-4ef3-a7a2-f2f0c3c53bd7",
      "name": "Has Media Group Blob Refs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1360,
        -528
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH refs AS (\n  SELECT jsonb_array_elements_text(COALESCE(NULLIF($2::text, ''), '[]')::jsonb) AS blob_ref\n),\nrows AS (\n  SELECT mb.blob_ref, mb.file_id\n  FROM public.media_blobs mb\n  JOIN refs r\n    ON r.blob_ref = mb.blob_ref\n  WHERE mb.workspace_id = NULLIF($1::text, '')::uuid\n    AND mb.provider = 'telegram'\n    AND COALESCE(mb.file_id, '') <> ''\n    AND (mb.expires_at IS NULL OR mb.expires_at > now())\n)\nSELECT COALESCE(jsonb_object_agg(rows.blob_ref, rows.file_id), '{}'::jsonb) AS cache_map\nFROM rows;",
        "options": {
          "queryReplacement": "={{$json.workspace_id ?? \"\"}}, {{$json.media_group_blob_refs_json ?? \"[]\"}}"
        }
      },
      "id": "54d1ae3d-2c0e-4d39-80e7-9ee77a6530cc",
      "name": "DB Resolve Media Group Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1136,
        -528
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "x5LyxEPUED2WoWLF",
          "name": "Neon Autoposting DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $items('Prepare Media Group Cache Resolve')[0]?.json ?? $input.first()?.json ?? {};\nconst cacheMapRaw = $input.first()?.json?.cache_map ?? {};\n\nlet cacheMap = {};\nif (cacheMapRaw && typeof cacheMapRaw === 'object' && !Array.isArray(cacheMapRaw)) {\n  cacheMap = cacheMapRaw;\n} else if (typeof cacheMapRaw === 'string') {\n  try {\n    const parsed = JSON.parse(cacheMapRaw);\n    if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n      cacheMap = parsed;\n    }\n  } catch {}\n}\n\nconst media = Array.isArray(source.normalized_media) ? source.normalized_media : [];\nconst normalizedMedia = media.map((itemRaw) => {\n  const item = itemRaw && typeof itemRaw === 'object' ? { ...itemRaw } : itemRaw;\n  if (!item || typeof item !== 'object') return item;\n\n  const blobRef =\n    item.blob_ref === null || item.blob_ref === undefined\n      ? ''\n      : String(item.blob_ref).trim();\n\n  const cachedFileId = blobRef ? cacheMap[blobRef] ?? null : null;\n  if (cachedFileId && !item.file_id) {\n    item.file_id = String(cachedFileId);\n  }\n\n  if (item.file_id) {\n    item.telegram_file = item.file_id;\n  }\n\n  return item;\n});\n\nconst primary = normalizedMedia.length > 0 ? normalizedMedia[0] : null;\n\nreturn [{\n  json: {\n    ...source,\n    normalized_media: normalizedMedia,\n    primary_media: primary,\n  },\n}];"
      },
      "id": "9a05c833-96ea-4f45-a60d-2b69ea2f5f8f",
      "name": "Apply Media Group Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -432
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Adapter Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapter Telegram Smoke Webhook": {
      "main": [
        [
          {
            "node": "Normalize Adapter Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Adapter Input": {
      "main": [
        [
          {
            "node": "Has Target ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Target ID?": {
      "main": [
        [
          {
            "node": "Has Media?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Missing Target Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Media?": {
      "main": [
        [
          {
            "node": "Select Primary Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Primary Media": {
      "main": [
        [
          {
            "node": "Has Multiple Media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Has Blob Ref?": {
      "main": [
        [
          {
            "node": "DB Resolve Primary Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Primary Without Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Resolve Primary Cache": {
      "main": [
        [
          {
            "node": "Primary Cache Row Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Primary Cache": {
      "main": [
        [
          {
            "node": "Is Video Media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Without Cache": {
      "main": [
        [
          {
            "node": "Is Video Media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Video Media?": {
      "main": [
        [
          {
            "node": "Telegram Send Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Send Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send Text": {
      "main": [
        [
          {
            "node": "Normalize Telegram Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send Photo": {
      "main": [
        [
          {
            "node": "Normalize Telegram Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send Video": {
      "main": [
        [
          {
            "node": "Normalize Telegram Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram Result": {
      "main": [
        [
          {
            "node": "Has Cache Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Cache Update?": {
      "main": [
        [
          {
            "node": "DB Upsert Telegram Media Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Adapter Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Upsert Telegram Media Cache": {
      "main": [
        [
          {
            "node": "Finalize Adapter Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Missing Target Error": {
      "main": [
        [
          {
            "node": "Finalize Adapter Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Multiple Media?": {
      "main": [
        [
          {
            "node": "Prepare Media Group Cache Resolve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Primary Has Blob Ref?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Media Group Payload": {
      "main": [
        [
          {
            "node": "Media Group Build Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send Media Group": {
      "main": [
        [
          {
            "node": "Normalize Telegram Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Group Build Error?": {
      "main": [
        [
          {
            "node": "Normalize Telegram Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Send Media Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Cache Row Available?": {
      "main": [
        [
          {
            "node": "Apply Primary Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Primary Without Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Media Group Cache Resolve": {
      "main": [
        [
          {
            "node": "Has Media Group Blob Refs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Media Group Blob Refs?": {
      "main": [
        [
          {
            "node": "DB Resolve Media Group Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Media Group Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Resolve Media Group Cache": {
      "main": [
        [
          {
            "node": "Apply Media Group Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Media Group Cache": {
      "main": [
        [
          {
            "node": "Build Media Group Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
