workflows/02_dispatcher.json
{
  "name": "02_dispatcher",
  "nodes": [
    {
      "parameters": {
        "path": "wf02-dispatcher",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wf02-webhook-trigger",
      "name": "02 Dispatcher Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2560,
        160
      ],
      "webhookId": "wf02-dispatcher"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "wf02-cron-trigger",
      "name": "02 Dispatcher Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2560,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const src = $input.first()?.json ?? {};\nconst body = src.body && typeof src.body === 'object' ? src.body : src;\n\nconst toStringOrNull = (value) => {\n  if (value === null || value === undefined) return null;\n  const text = String(value).trim();\n  return text ? text : null;\n};\n\nconst toPositiveInt = (value, fallback) => {\n  const num = Number(value);\n  if (!Number.isFinite(num) || num <= 0) return fallback;\n  return Math.floor(num);\n};\n\nconst runId =\n  toStringOrNull(body?.run_id) ??\n  toStringOrNull(body?.test_run_id) ??\n  `dispatch-${Date.now()}-${Math.random().toString(16).slice(2, 10)}`;\n\nconst workspaceId = toStringOrNull(body?.workspace_id) ?? '__all__';\n\nreturn [{\n  json: {\n    run_id: runId,\n    workspace_id: workspaceId,\n    claim_limit: toPositiveInt(body?.claim_limit, 20),\n    lease_seconds: toPositiveInt(body?.lease_seconds, 300),\n    now_ts: new Date().toISOString(),\n  },\n}];"
      },
      "id": "wf02-normalize-input",
      "name": "Normalize Dispatcher Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  t.workspace_id,\n  t.delivery_id,\n  t.message_id,\n  t.channel_id,\n  t.platform,\n  t.attempt,\n  t.claim_token,\n  t.rendered_text,\n  t.target_id,\n  t.auth_ref,\n  t.channel_settings,\n  t.render_meta,\n  t.payload,\n  t.content_hash,\n  t.source_ref,\n  t.claim_has_item,\n  t.lock_acquired,\n  t.lock_skipped,\n  t.is_forced,\n  t.is_empty\nFROM public.dispatcher_tick(\n  CASE\n    WHEN NULLIF($1::text, '') IS NULL OR $1::text = '__all__' THEN NULL::uuid\n    ELSE NULLIF($1::text, '')::uuid\n  END,\n  NULLIF($2::text, ''),\n  GREATEST(1, COALESCE($3::integer, 20)),\n  GREATEST(30, COALESCE($4::integer, 300)),\n  COALESCE($5::timestamptz, now())\n) t;",
        "options": {
          "queryReplacement": "={{$items(\"Normalize Dispatcher Input\")[0]?.json?.workspace_id ?? \"\"}}, {{$items(\"Normalize Dispatcher Input\")[0]?.json?.run_id ?? \"\"}}, {{$items(\"Normalize Dispatcher Input\")[0]?.json?.claim_limit ?? 20}}, {{$items(\"Normalize Dispatcher Input\")[0]?.json?.lease_seconds ?? 300}}, {{$items(\"Normalize Dispatcher Input\")[0]?.json?.now_ts ?? \"\"}}"
        }
      },
      "id": "wf02-db-claim-deliveries",
      "name": "DB Dispatcher Tick",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1360,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "x5LyxEPUED2WoWLF",
          "name": "Neon Autoposting DB"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "wf02-loop-deliveries",
      "name": "Loop Claimed Deliveries",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -880,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "wf02-cond-has-claim",
              "leftValue": "={{ $json.claim_has_item === true && !!$json.delivery_id && !!$json.claim_token }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf02-if-has-claimed-delivery",
      "name": "Has Claimed Delivery?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const row = $input.first()?.json ?? {};\n\nconst parseObject = (value) => {\n  if (value && typeof value === 'object' && !Array.isArray(value)) return value;\n  if (typeof value !== 'string') return {};\n  try {\n    const parsed = JSON.parse(value);\n    return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : {};\n  } catch {\n    return {};\n  }\n};\n\nconst isSensitiveKey = (key) => {\n  const normalized = String(key ?? '').trim().toLowerCase();\n  if (!normalized) return false;\n\n  if (\n    normalized === 'max_auth' ||\n    normalized === 'auth_token' ||\n    normalized === 'token' ||\n    normalized === 'access_token' ||\n    normalized === 'refresh_token' ||\n    normalized === 'authorization' ||\n    normalized === 'api_key' ||\n    normalized === 'apikey' ||\n    normalized === 'secret' ||\n    normalized === 'password'\n  ) {\n    return true;\n  }\n\n  return (\n    normalized.includes('token') ||\n    normalized.includes('secret') ||\n    normalized.includes('password') ||\n    normalized.includes('authorization')\n  );\n};\n\nconst sanitizeObject = (value) => {\n  if (Array.isArray(value)) {\n    return value.map((entry) => sanitizeObject(entry));\n  }\n\n  if (!value || typeof value !== 'object') {\n    return value;\n  }\n\n  const cleaned = {};\n  for (const [key, rawVal] of Object.entries(value)) {\n    if (isSensitiveKey(key)) continue;\n    cleaned[key] = sanitizeObject(rawVal);\n  }\n  return cleaned;\n};\n\nconst channelSettingsRaw = parseObject(row.channel_settings);\nconst channelSettings = sanitizeObject(channelSettingsRaw);\nconst renderMeta = parseObject(row.render_meta);\nconst payload = parseObject(row.payload);\nconst platform = String(row.platform ?? '').toLowerCase();\n\nconst channel = {\n  ...channelSettings,\n  platform,\n  channel_id: row.channel_id ?? null,\n  target_id: row.target_id ?? null,\n  auth_ref: row.auth_ref ?? null,\n};\n\nif (platform === 'max') {\n  let maxBaseUrl = String(channel.max_base_url ?? channel.base_url ?? '').trim();\n  while (maxBaseUrl.endsWith('/')) maxBaseUrl = maxBaseUrl.slice(0, -1);\n  if (maxBaseUrl) {\n    channel.max_base_url = maxBaseUrl;\n  }\n}\n\nconst run = $items('Normalize Dispatcher Input')[0]?.json ?? {};\n\nreturn [{\n  json: {\n    run_id: run.run_id ?? null,\n    workspace_id: row.workspace_id ?? null,\n    delivery_id: row.delivery_id ?? null,\n    claim_token: row.claim_token ?? null,\n    attempt: Number.isFinite(Number(row.attempt)) ? Number(row.attempt) : null,\n    platform,\n    channel_id: row.channel_id ?? null,\n    source_ref: row.source_ref ?? null,\n    content_hash: row.content_hash ?? null,\n    delivery: {\n      delivery_id: row.delivery_id ?? null,\n      rendered_text: String(row.rendered_text ?? ''),\n      payload,\n      meta: renderMeta,\n    },\n    channel,\n    rendered_text: String(row.rendered_text ?? ''),\n  },\n}];"
      },
      "id": "wf02-build-adapter-input",
      "name": "Build Adapter Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "wf02-cond-is-telegram",
              "leftValue": "={{ $json.platform === 'telegram' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf02-if-platform-telegram",
      "name": "Platform Is Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        120
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "qtz22d6Gz7x4MDxg"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each"
      },
      "id": "wf02-call-adapter-telegram",
      "name": "Call adapter_telegram_send",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        80,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "wf02-cond-is-max",
              "leftValue": "={{ $json.platform === 'max' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf02-if-platform-max",
      "name": "Platform Is MAX?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        260
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "Vmk0MqDaJDFos5sM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each"
      },
      "id": "wf02-call-adapter-max",
      "name": "Call adapter_max_send",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        320,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const row = $input.first()?.json ?? {};\n\nreturn [{\n  json: {\n    ok: false,\n    error: {\n      category: 'PERMANENT',\n      scope: 'delivery',\n      code: 'unsupported_platform',\n      message: `unsupported platform for dispatcher: ${String(row.platform ?? 'unknown')}`,\n      raw: row,\n    },\n  },\n}];"
      },
      "id": "wf02-unsupported-platform",
      "name": "Unsupported Platform Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const context = $items('Build Adapter Input')[0]?.json ?? {};\nconst raw = $input.first()?.json ?? {};\n\nconst classifyExecutionError = (error) => {\n  const message = String(\n    error?.message ?? error?.description ?? error?.error ?? 'adapter_execution_failed',\n  );\n\n  return {\n    category: 'TRANSIENT',\n    scope: 'platform',\n    code: 'adapter_execution_failed',\n    message,\n    raw: error,\n  };\n};\n\nlet envelope = raw?.body ?? raw;\nif (envelope?.result_json && typeof envelope.result_json === 'object') {\n  envelope = envelope.result_json;\n}\nif (envelope?.result && typeof envelope.result === 'object' && envelope.ok === undefined) {\n  envelope = envelope.result;\n}\n\nlet adapterResult = null;\n\nif (envelope && typeof envelope === 'object' && envelope.ok === true) {\n  adapterResult = envelope;\n} else if (envelope && typeof envelope === 'object' && envelope.ok === false && envelope.error) {\n  adapterResult = envelope;\n} else if (raw?.error) {\n  adapterResult = {\n    ok: false,\n    error: classifyExecutionError(raw.error),\n  };\n}\n\nif (!adapterResult) {\n  adapterResult = {\n    ok: false,\n    error: {\n      category: 'TRANSIENT',\n      scope: 'platform',\n      code: 'adapter_result_unexpected',\n      message: 'adapter returned unexpected payload shape',\n      raw,\n    },\n  };\n}\n\nreturn [{\n  json: {\n    ...context,\n    adapter_result: adapterResult,\n  },\n}];"
      },
      "id": "wf02-normalize-adapter-result",
      "name": "Normalize Adapter Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "wf02-cond-adapter-ok",
              "leftValue": "={{ $json.adapter_result && $json.adapter_result.ok === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf02-if-adapter-success",
      "name": "Adapter Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (public.mark_sent(\n    $1::uuid,\n    $2::uuid,\n    NULLIF($3::text, ''),\n    COALESCE($4::timestamptz, now()),\n    COALESCE($5::jsonb, '{}'::jsonb),\n    $6::uuid\n  )).delivery_id AS delivery_id,\n  true AS commit_ok,\n  'mark_sent'::text AS commit_action;",
        "options": {
          "queryReplacement": "={{$json.workspace_id}}, {{$json.delivery_id}}, {{$json.adapter_result?.provider_message_id ?? \"\"}}, {{$items('Normalize Dispatcher Input')[0]?.json?.now_ts ?? \"\"}}, {{ JSON.stringify($json.adapter_result?.raw ?? {}) }}, {{$json.claim_token}}"
        }
      },
      "id": "wf02-db-mark-sent",
      "name": "DB Commit Mark Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        40
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "x5LyxEPUED2WoWLF",
          "name": "Neon Autoposting DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "wf02-cond-adapter-transient",
              "leftValue": "={{ String($json.adapter_result?.error?.category ?? '').toUpperCase() === 'TRANSIENT' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf02-if-adapter-transient",
      "name": "Adapter Error Is Transient?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (public.schedule_retry(\n    $1::uuid,\n    $2::uuid,\n    NULL::timestamptz,\n    COALESCE($3::jsonb, '{}'::jsonb),\n    $4::uuid,\n    CASE WHEN NULLIF($5::text, '') IS NULL THEN NULL ELSE ($5::integer) END\n  )).delivery_id AS delivery_id,\n  true AS commit_ok,\n  'schedule_retry'::text AS commit_action;",
        "options": {
          "queryReplacement": "={{$json.workspace_id}}, {{$json.delivery_id}}, {{ JSON.stringify($json.adapter_result?.error ?? {}) }}, {{$json.claim_token}}, {{$json.adapter_result?.error?.retry_after_ms ?? \"\"}}"
        }
      },
      "id": "wf02-db-schedule-retry",
      "name": "DB Commit Schedule Retry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        200
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "x5LyxEPUED2WoWLF",
          "name": "Neon Autoposting DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (public.fail_permanent(\n    $1::uuid,\n    $2::uuid,\n    COALESCE($3::jsonb, '{}'::jsonb),\n    $4::uuid\n  )).delivery_id AS delivery_id,\n  true AS commit_ok,\n  'fail_permanent'::text AS commit_action;",
        "options": {
          "queryReplacement": "={{$json.workspace_id}}, {{$json.delivery_id}}, {{ JSON.stringify($json.adapter_result?.error ?? {}) }}, {{$json.claim_token}}"
        }
      },
      "id": "wf02-db-fail-permanent",
      "name": "DB Commit Fail Permanent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        340
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "x5LyxEPUED2WoWLF",
          "name": "Neon Autoposting DB"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { loop_continue: true } }];"
      },
      "id": "wf02-delivery-done",
      "name": "Delivery Commit Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const safeItems = (nodeName) => {\n  try {\n    return $items(nodeName).map((item) => item?.json ?? {});\n  } catch {\n    return [];\n  }\n};\n\nconst run = safeItems('Normalize Dispatcher Input')[0] ?? {};\nconst tickRows = safeItems('DB Dispatcher Tick');\nconst tickFirst = tickRows[0] ?? {};\n\nconst claimed = tickRows.filter(\n  (row) => row.claim_has_item === true && !!row.delivery_id,\n).length;\n\nconst committedSent = safeItems('DB Commit Mark Sent').filter(\n  (row) => row.commit_ok === true && !!row.delivery_id,\n).length;\nconst committedRetried = safeItems('DB Commit Schedule Retry').filter(\n  (row) => row.commit_ok === true && !!row.delivery_id,\n).length;\nconst committedFailedPermanent = safeItems('DB Commit Fail Permanent').filter(\n  (row) => row.commit_ok === true && !!row.delivery_id,\n).length;\n\nconst lockSkipped = tickFirst.lock_skipped === true;\nconst commitFailures = safeItems('Commit Failed Marker').filter(\n  (row) => row?.commit_error && typeof row.commit_error === 'object',\n);\n\nif (commitFailures.length > 0) {\n  const first = commitFailures[0].commit_error;\n  return [{\n    json: {\n      ok: false,\n      run_id: run.run_id ?? null,\n      workspace_id: first.workspace_id ?? tickFirst.workspace_id ?? run.workspace_id ?? null,\n      claimed_deliveries: claimed,\n      sent: committedSent,\n      retried: committedRetried,\n      failed_permanent: committedFailedPermanent,\n      lock_skipped: lockSkipped,\n      error: {\n        category: String(first.category ?? 'TRANSIENT').toUpperCase(),\n        scope: first.scope ?? 'system',\n        code: first.code ?? 'dispatcher_commit_failed',\n        message: first.message ?? 'failed to commit delivery outcome',\n        raw: first.raw ?? null,\n        commit_action: first.commit_action ?? 'unknown',\n        delivery_id: first.delivery_id ?? null,\n      },\n    },\n  }];\n}\n\nif (lockSkipped) {\n  return [{\n    json: {\n      ok: true,\n      skipped: true,\n      reason: 'dispatcher_lock_not_acquired',\n      run_id: run.run_id ?? null,\n      workspace_id: tickFirst.workspace_id ?? run.workspace_id ?? null,\n      claimed_deliveries: claimed,\n      sent: committedSent,\n      retried: committedRetried,\n      failed_permanent: committedFailedPermanent,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    run_id: run.run_id ?? null,\n    workspace_id: tickFirst.workspace_id ?? run.workspace_id ?? null,\n    claimed_deliveries: claimed,\n    sent: committedSent,\n    retried: committedRetried,\n    failed_permanent: committedFailedPermanent,\n    is_forced: tickFirst.is_forced === true,\n    is_empty: tickFirst.is_empty === true,\n  },\n}];"
      },
      "id": "wf02-finalize-output",
      "name": "Finalize 02_dispatcher Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        20
      ]
    },
    {
      "id": "wf02-if-commit-applied",
      "name": "Commit Applied?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        240
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "wf02-cond-commit-ok",
              "leftValue": "={{ $json.commit_ok === true && !!$json.delivery_id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "wf02-commit-failed-marker",
      "name": "Commit Failed Marker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        360
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const row = $input.first()?.json ?? null;\nif (!row) {\n  return [];\n}\n\nconst knownAction = (value) => {\n  const action = String(value ?? '').trim();\n  return action || 'unknown';\n};\n\nconst n8nError = row.error ?? row.__error ?? null;\nconst commitAction = knownAction(row.commit_action);\n\nreturn [{\n  json: {\n    ok: false,\n    commit_error: {\n      category: 'TRANSIENT',\n      scope: 'system',\n      code: 'dispatcher_commit_failed',\n      message: `failed to commit delivery outcome (${commitAction})`,\n      commit_action: commitAction,\n      delivery_id: row.delivery_id ?? null,\n      workspace_id: row.workspace_id ?? null,\n      claim_token: row.claim_token ?? null,\n      raw: n8nError ?? row,\n    },\n  },\n}];"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "02 Dispatcher Webhook": {
      "main": [
        [
          {
            "node": "Normalize Dispatcher Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 Dispatcher Cron Trigger": {
      "main": [
        [
          {
            "node": "Normalize Dispatcher Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Dispatcher Tick": {
      "main": [
        [
          {
            "node": "Loop Claimed Deliveries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Claimed Deliveries": {
      "main": [
        [
          {
            "node": "Finalize 02_dispatcher Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Claimed Delivery?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Claimed Delivery?": {
      "main": [
        [
          {
            "node": "Build Adapter Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Claimed Deliveries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Adapter Input": {
      "main": [
        [
          {
            "node": "Platform Is Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform Is Telegram?": {
      "main": [
        [
          {
            "node": "Call adapter_telegram_send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Platform Is MAX?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform Is MAX?": {
      "main": [
        [
          {
            "node": "Call adapter_max_send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Platform Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call adapter_telegram_send": {
      "main": [
        [
          {
            "node": "Normalize Adapter Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call adapter_max_send": {
      "main": [
        [
          {
            "node": "Normalize Adapter Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported Platform Result": {
      "main": [
        [
          {
            "node": "Normalize Adapter Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Adapter Result": {
      "main": [
        [
          {
            "node": "Adapter Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapter Success?": {
      "main": [
        [
          {
            "node": "DB Commit Mark Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adapter Error Is Transient?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapter Error Is Transient?": {
      "main": [
        [
          {
            "node": "DB Commit Schedule Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB Commit Fail Permanent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Commit Done": {
      "main": [
        [
          {
            "node": "Loop Claimed Deliveries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Commit Mark Sent": {
      "main": [
        [
          {
            "node": "Commit Applied?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Commit Schedule Retry": {
      "main": [
        [
          {
            "node": "Commit Applied?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Commit Fail Permanent": {
      "main": [
        [
          {
            "node": "Commit Applied?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Applied?": {
      "main": [
        [
          {
            "node": "Delivery Commit Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Commit Failed Marker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Dispatcher Input": {
      "main": [
        [
          {
            "node": "DB Dispatcher Tick",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Failed Marker": {
      "main": [
        [
          {
            "node": "Finalize 02_dispatcher Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ce96030c-18ba-4daf-9ef4-7246cd233b09",
  "meta": null,
  "id": "Y0VGSlHB4VfaMkh5",
  "tags": []
}
