workflows/adapter_telegram_send.json
{
  "name": "adapter_telegram_send",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "tg-exec-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1104,
        128
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autoposting-adapter-telegram-test",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "tg-webhook-trigger",
      "name": "Adapter Telegram Smoke Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1104,
        352
      ],
      "webhookId": "7f74c0b0-e74d-4111-9cf8-b63a3b91f95d"
    },
    {
      "parameters": {
        "jsCode": "const src = $input.first()?.json?.body ?? $input.first()?.json ?? {};\nconst delivery = src.delivery ?? {};\nconst channel = src.channel ?? {};\nconst payload = delivery.payload ?? {};\nconst media = Array.isArray(payload.media) ? payload.media : [];\n\nconst renderedText =\n  delivery.rendered_text ??\n  src.rendered_text ??\n  payload.text ??\n  '';\n\nconst parseModeRaw = String(\n  delivery.meta?.parse_mode ?? src.meta?.parse_mode ?? 'None',\n);\nlet telegramParseMode = null;\nif (parseModeRaw === 'HTML' || parseModeRaw === 'Markdown' || parseModeRaw === 'MarkdownV2') {\n  telegramParseMode = parseModeRaw;\n}\n\nreturn [{\n  json: {\n    workspace_id: src.workspace_id ?? null,\n    delivery,\n    channel,\n    target_id: channel.target_id ?? delivery.target_id ?? src.target_id ?? null,\n    rendered_text: renderedText,\n    media,\n    telegram_parse_mode: telegramParseMode,\n  },\n}];"
      },
      "id": "tg-normalize-input",
      "name": "Normalize Adapter Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-has-target",
              "leftValue": "={{ !!$json.target_id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg-if-has-target",
      "name": "Has Target ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\nreturn [{\n  json: {\n    ok: false,\n    error: {\n      category: 'PERMANENT',\n      scope: 'delivery',\n      code: 'missing_target_id',\n      message: 'channel.target_id is required for telegram adapter',\n      raw: input,\n    },\n  },\n}];"
      },
      "id": "tg-missing-target",
      "name": "Return Missing Target Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-has-media",
              "leftValue": "={{ Array.isArray($json.media) && $json.media.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg-if-has-media",
      "name": "Has Media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -416,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\n\nconst firstRaw = Array.isArray(input.media) && input.media.length > 0 ? input.media[0] : null;\nconst first = firstRaw && typeof firstRaw === 'object' ? firstRaw : null;\n\nconst kindSource = String(first?.type ?? first?.kind ?? '').toLowerCase();\nconst normalizedKind =\n  kindSource.includes('video') || kindSource === 'gif' || kindSource === 'animation'\n    ? 'video'\n    : 'photo';\n\nconst primary = first\n  ? {\n      blob_ref: first.blob_ref ?? null,\n      type: first.type ?? null,\n      kind: normalizedKind,\n      origin_url: first.origin_url ?? null,\n      url: first.url ?? null,\n      media_url: first.media_url ?? null,\n      file_id: first.file_id ?? null,\n      telegram_file: first.file_id ?? first.telegram_file ?? first.origin_url ?? first.url ?? first.media_url ?? null,\n    }\n  : null;\n\nreturn [{ json: { ...input, primary_media: primary } }];"
      },
      "id": "tg-select-primary",
      "name": "Select Primary Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-has-primary-blob",
              "leftValue": "={{ !!$json.workspace_id && !!$json.primary_media && !!$json.primary_media.blob_ref }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg-if-has-blob",
      "name": "Primary Has Blob Ref?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  mo.origin_url,\n  mb.file_id\nFROM (SELECT $1::uuid AS workspace_id, $2::text AS blob_ref) req\nLEFT JOIN public.media_origin mo\n  ON mo.workspace_id = req.workspace_id\n AND mo.blob_ref = req.blob_ref\nLEFT JOIN public.media_blobs mb\n  ON mb.workspace_id = req.workspace_id\n AND mb.blob_ref = req.blob_ref\n AND mb.provider = 'telegram'\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{$json.workspace_id}}, {{$json.primary_media.blob_ref}}"
        }
      },
      "id": "tg-db-resolve-primary-cache",
      "name": "DB Resolve Primary Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "x5LyxEPUED2WoWLF",
          "name": "Neon Autoposting DB"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const base = $items('Select Primary Media')[0]?.json ?? {};\nconst cache = $input.first()?.json ?? {};\n\nconst primary = base.primary_media\n  ? {\n      ...base.primary_media,\n      telegram_file:\n        base.primary_media.telegram_file ??\n        cache.file_id ??\n        cache.origin_url ??\n        null,\n    }\n  : null;\n\nreturn [{ json: { ...base, primary_media: primary } }];"
      },
      "id": "tg-apply-primary-cache",
      "name": "Apply Primary Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first()?.json ?? {};\nconst primary = base.primary_media\n  ? {\n      ...base.primary_media,\n      telegram_file:\n        base.primary_media.telegram_file ??\n        null,\n    }\n  : null;\n\nreturn [{ json: { ...base, primary_media: primary } }];"
      },
      "id": "tg-primary-no-cache",
      "name": "Primary Without Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-is-video",
              "leftValue": "={{ !!$json.primary_media && ['video', 'gif', 'animation'].includes(String($json.primary_media.kind || '').toLowerCase()) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg-if-video",
      "name": "Is Video Media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        48
      ]
    },
    {
      "parameters": {
        "chatId": {
          "__rl": true,
          "value": "={{$json.target_id}}",
          "mode": "expression"
        },
        "text": "={{$json.rendered_text}}",
        "additionalFields": {}
      },
      "id": "tg-send-text",
      "name": "Telegram Send Text",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -208,
        272
      ],
      "webhookId": "51e7c8c3-ac95-44f9-a94e-c56a1ed1bc7a",
      "credentials": {
        "telegramApi": {
          "id": "tjUozZ8hx8ajiIul",
          "name": "AutoPostAssistantBot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": {
          "__rl": true,
          "value": "={{$json.target_id}}",
          "mode": "expression"
        },
        "file": "={{$json.primary_media.telegram_file}}",
        "additionalFields": {
          "caption": "={{$json.rendered_text}}"
        }
      },
      "id": "tg-send-photo",
      "name": "Telegram Send Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        144
      ],
      "webhookId": "6978ecfe-fe70-43fb-ab84-76b740ee30ae",
      "credentials": {
        "telegramApi": {
          "id": "tjUozZ8hx8ajiIul",
          "name": "AutoPostAssistantBot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": {
          "__rl": true,
          "value": "={{$json.target_id}}",
          "mode": "expression"
        },
        "file": "={{$json.primary_media.telegram_file}}",
        "additionalFields": {
          "caption": "={{$json.rendered_text}}"
        }
      },
      "id": "tg-send-video",
      "name": "Telegram Send Video",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        -64
      ],
      "webhookId": "57f1243b-7dee-43e7-971c-8fdb36e6812f",
      "credentials": {
        "telegramApi": {
          "id": "tjUozZ8hx8ajiIul",
          "name": "AutoPostAssistantBot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first()?.json ?? {};\n\nconst classifyError = (err) => {\n  const message = String(\n    typeof err === 'string'\n      ? err\n      : err?.message ?? err?.description ?? err?.error ?? 'telegram_send_failed',\n  );\n  const code = Number(\n    typeof err === 'object' && err\n      ? err.httpCode ?? err.statusCode ?? err.code ?? 0\n      : 0,\n  );\n\n  let category = 'PERMANENT';\n  let scope = 'delivery';\n  let normalizedCode = 'telegram_bad_request';\n\n  if (code === 429 || /retry after/i.test(message)) {\n    category = 'TRANSIENT';\n    scope = 'platform';\n    normalizedCode = 'rate_limited';\n  } else if (\n    code >= 500 ||\n    /timed out|timeout|network|socket|econn|etimedout|fetch failed/i.test(message)\n  ) {\n    category = 'TRANSIENT';\n    scope = 'platform';\n    normalizedCode = 'upstream_unavailable';\n  } else if (\n    code === 401 ||\n    code === 403 ||\n    /forbidden|blocked|chat not found|bot was kicked|user is deactivated/i.test(message)\n  ) {\n    category = 'PERMANENT';\n    scope = 'channel';\n    normalizedCode = 'channel_unavailable';\n  }\n\n  const retryMatch = message.match(/retry after\\s*(\\d+)/i);\n  const retryAfterMs = retryMatch ? Number(retryMatch[1]) * 1000 : null;\n\n  return {\n    category,\n    scope,\n    code: normalizedCode,\n    retry_after_ms: Number.isFinite(retryAfterMs) ? retryAfterMs : undefined,\n    message,\n    raw: err,\n  };\n};\n\nconst itemsOrEmpty = (nodeName) => {\n  try {\n    return $items(nodeName);\n  } catch {\n    return [];\n  }\n};\n\nconst context =\n  itemsOrEmpty('Apply Primary Cache')[0]?.json ??\n  itemsOrEmpty('Primary Without Cache')[0]?.json ??\n  itemsOrEmpty('Select Primary Media')[0]?.json ??\n  itemsOrEmpty('Normalize Adapter Input')[0]?.json ??\n  {};\n\nif (raw?.ok === false && raw?.error) {\n  return [{ json: { result: raw, cache: null } }];\n}\n\nif (raw?.error) {\n  return [\n    {\n      json: {\n        result: {\n          ok: false,\n          error: classifyError(raw.error),\n        },\n        cache: null,\n      },\n    },\n  ];\n}\n\nconst resultEnvelope = raw?.body?.result ?? raw?.result ?? raw;\nconst providerMessageId =\n  resultEnvelope?.message_id ??\n  resultEnvelope?.id ??\n  raw?.message_id ??\n  `tg-${Date.now()}`;\n\nconst photoArray = resultEnvelope?.photo ?? resultEnvelope?.message?.photo ?? [];\nconst fileId =\n  resultEnvelope?.video?.file_id ??\n  resultEnvelope?.message?.video?.file_id ??\n  (Array.isArray(photoArray) && photoArray.length > 0\n    ? photoArray[photoArray.length - 1]?.file_id\n    : null) ??\n  null;\n\nconst primary = context?.primary_media ?? null;\nconst canCache = !!context?.workspace_id && !!primary?.blob_ref && !!fileId;\n\nreturn [\n  {\n    json: {\n      result: {\n        ok: true,\n        provider_message_id: String(providerMessageId),\n        raw,\n      },\n      cache: canCache\n        ? {\n            workspace_id: context.workspace_id,\n            blob_ref: primary.blob_ref,\n            file_id: fileId,\n          }\n        : null,\n    },\n  },\n];"
      },
      "id": "tg-normalize-result",
      "name": "Normalize Telegram Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tg-cond-has-cache",
              "leftValue": "={{ !!$json.cache && !!$json.cache.workspace_id && !!$json.cache.blob_ref && !!$json.cache.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg-if-cache-upsert",
      "name": "Has Cache Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upserted AS (\n  INSERT INTO public.media_blobs (\n    workspace_id,\n    blob_ref,\n    provider,\n    file_id,\n    meta,\n    created_at,\n    updated_at\n  ) VALUES (\n    $1::uuid,\n    $2::text,\n    'telegram',\n    $3::text,\n    '{}'::jsonb,\n    now(),\n    now()\n  )\n  ON CONFLICT (workspace_id, blob_ref, provider)\n  DO UPDATE SET\n    file_id = EXCLUDED.file_id,\n    updated_at = now()\n  RETURNING file_id\n)\nSELECT $4::jsonb AS result_json;",
        "options": {
          "queryReplacement": "={{$json.cache.workspace_id}}, {{$json.cache.blob_ref}}, {{$json.cache.file_id}}, {{ JSON.stringify($json.result) }}"
        }
      },
      "id": "tg-db-upsert-cache",
      "name": "DB Upsert Telegram Media Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1568,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "x5LyxEPUED2WoWLF",
          "name": "Neon Autoposting DB"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json ?? {};\nif (input?.result_json) {\n  return [{ json: input.result_json }];\n}\nif (input?.result) {\n  return [{ json: input.result }];\n}\nif (input?.ok === true || input?.ok === false) {\n  return [{ json: input }];\n}\n\nreturn [{\n  json: {\n    ok: false,\n    error: {\n      category: 'TRANSIENT',\n      scope: 'platform',\n      code: 'adapter_output_unexpected',\n      message: 'adapter_telegram_send returned unexpected payload shape',\n      raw: input,\n    },\n  },\n}];"
      },
      "id": "tg-finalize-output",
      "name": "Finalize Adapter Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Adapter Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapter Telegram Smoke Webhook": {
      "main": [
        [
          {
            "node": "Normalize Adapter Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Adapter Input": {
      "main": [
        [
          {
            "node": "Has Target ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Target ID?": {
      "main": [
        [
          {
            "node": "Has Media?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Missing Target Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Media?": {
      "main": [
        [
          {
            "node": "Select Primary Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Primary Media": {
      "main": [
        [
          {
            "node": "Primary Has Blob Ref?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Has Blob Ref?": {
      "main": [
        [
          {
            "node": "DB Resolve Primary Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Primary Without Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Resolve Primary Cache": {
      "main": [
        [
          {
            "node": "Apply Primary Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Primary Cache": {
      "main": [
        [
          {
            "node": "Is Video Media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Without Cache": {
      "main": [
        [
          {
            "node": "Is Video Media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Video Media?": {
      "main": [
        [
          {
            "node": "Telegram Send Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Send Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send Text": {
      "main": [
        [
          {
            "node": "Normalize Telegram Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send Photo": {
      "main": [
        [
          {
            "node": "Normalize Telegram Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send Video": {
      "main": [
        [
          {
            "node": "Normalize Telegram Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram Result": {
      "main": [
        [
          {
            "node": "Has Cache Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Cache Update?": {
      "main": [
        [
          {
            "node": "DB Upsert Telegram Media Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Adapter Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Upsert Telegram Media Cache": {
      "main": [
        [
          {
            "node": "Finalize Adapter Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Missing Target Error": {
      "main": [
        [
          {
            "node": "Finalize Adapter Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d9f96c81-e337-48c7-9441-cb93ebb9b0e1",
  "meta": {
    "instanceId": "ac845f023808ccf31cb6cf4b5e79d811bd2246113c33a345a99a14afb7f8967b"
  },
  "id": "qtz22d6Gz7x4MDxg",
  "tags": []
}